@import './mixin.scss';
*{
    margin: 0;
    padding: 0;
}
.container{
    @include container();
}
#funcionarios{
    @include funcionarios();
}
#clientes{
    @include clientes();
}
.logo{
    @include logo();
}
.icon{
    margin-left: 50px;
}
.iconOne{
    margin-left: 86px;
}