@import './mixin.scss';
@import './variavel.scss';
*{
    margin: 0;
    padding: 0;
}
.container-page-login{
    @include page-login();
}
.icon-profile{
    width: 80px;
    height: 80px;
    margin-top: -237px;
    position: absolute;
    background: url($icon-profile);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.block{
    padding: 48px;
    width: 231px;
    height: 268px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: $color-block;
    border-radius: 3px;
    box-shadow: #000000bf 0px 36px 77px -13px;
}
form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
p{
    font-size: $font-size;
    font-family: $font-family-all-page;
    margin-top: -104px;
    position: absolute;
    color: $color-red;
}
#campo{
    margin-top: 20px;
    padding: 12px;
    border-style: none;
    outline: none;
}
::placeholder{
    font-family: $font-family-all-page;
    color: $color-red;
}
.butao{
    padding: 12px;
    width: 104px;
    margin-top: 20px;
    color: $color-white;
    background: $color-red;
    font-family: $font-family-all-page;
    border-style: none;
    outline: none;
    box-shadow: rgb(209 0 0 / 75%) 0px 13px 25px -9px;
    border-radius: 3px;
}
