// COLORS
$color-red: #E40E16;
$color-yellow: #FED519;
$color-block: #50A5D0;
$color-white: white;
$color-black: black;
$color-green: #5DFF00;
$background-bottons: white;
$background: linear-gradient(0deg, #132F7C, #2356E2);

// FONTS
$font-family-all-page: cursive;
$font-size: 20px;

// MOBILE
$mobile-width: 415px;
$tablet-width: 918px;
$desktop-width: 1024px;

// ICON
$icon-home: url('./icon/home.svg');
$icon-profile: '../icon/user.svg';
$icon-table: url('./icon/hexagon.svg');
$icon-arrow: url('./icon/arrow-right.svg');
$icon-terminal: url('./icon/terminal.svg');
$icon-phones: url('./icon/headphones.svg');
$icon-shopping-bag: url('./icon/shopping-bag.svg');
$icon-shopping-cart: url('./icon/shopping-cart.svg');

// IMAGEM OF DRINKS
$imagem-gin:  url('./imagem/gin.png');
$imagem-logo: url('./imagem/logo.png');
$imagem-skol: url('./imagem/skol.png');
$imagem-vinho: url('./imagem/vinho.png');
$imagem-pepsi: url('./imagem/pepsi.png');
$imagem-duffman: url('./imagem/duff.png');
$imagem-martin: url('./imagem/martin.png');
$imagem-coca: url('./imagem/cocacola.png');
$imagem-mojito: url('./imagem/mojito.png');
$imagem-guarana: url('./imagem/guarana.png');
$imagem-caipirinha: url('./imagem/caipirinha.png');

// IMAGEM OF FOODS
$imagem-pizza: url('./imagem/pizza.png');
$imagem-misto: url('./imagem/mistor.png');
$imagem-nachos: url('./imagem/nachos.png');
$imagem-batata: url('./imagem/babata-frita.png');
$imagem-hamburguer: url('./imagem/hamburguer.png');
$imagem-frango: url('./imagem/frango-a-passarinho.png');
